
.table thead {
  background-color: var(--color-primario);
}
.table-hover tbody tr:hover {
  background-color: rgba(10, 46, 77, 0.05);
}

 .img-container {
    position: relative;
    display: inline-block;
  }

.small-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.img-hover {
  position: fixed;
  z-index: 9999;
  border: 2px solid #333;
  border-radius: 5px;
  background: #fff;
}

.img-hover img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

  .img-container:hover .img-hover {
    display: block;
  }

  .evento-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.evento-img:hover {
  transform: scale(1.5);  /* agranda 1.5 veces */
  z-index: 2;              /* que quede por encima */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}