<app-banner></app-banner>

<div class="filter-bar">
  <div class="filter-group">
    <select class="filter-select" (change)="onCategoriaChange($any($event.target).value)">
      <option value="">TODAS LAS CATEGORIAS</option>
      <option value="1">OTROS</option>
      <option value="2">TEATRO</option>
      <option value="3">COMEDIA</option>
      <option value="4">DRAMA</option>
      <option value="5">MUSICAL</option>
      <option value="6">ARTES</option>
      <option value="7">LITERATURA</option>
      <option value="8">CINE</option>
      <option value="9">TALLER</option>
      <option value="10">DANZA</option>
      <option value="11">ENCUENTRO</option>
      <option value="12">DIÁLOGO</option>
    </select>
  </div>
  <input class="filter-search" type="search" placeholder="Buscar titulo"
    (input)="onSearchChange($any($event.target).value)" />
</div>


<div class="container my-5 ">
  <div class="row g-2 ">

    @if (filteredEventos$ | async; as eventos) {
    @for (evento of eventos; track evento.getId()) {
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100 shadow-sm">
        <div class="imagen-evento">
          <img src="{{ evento.getImagen() }}" alt="Evento" onerror="this.src='/assets/images/sin.jpg'"
            class="card-img-top img-hover-scale object-fit-cover">
        </div>
        <div class="card-body">
          <h5 class="card-title titulo">{{ evento.getNombre() }}</h5>

          @if (evento.getCapacidad() === evento.getInscriptos()) {
          <p class="mb-1 text-danger font-weight-bold">
            🎟️ ¡ENTRADAS AGOTADAS!
          </p>
          } @else {
          <p class="capacidad mb-1"><strong>Capacidad: {{ evento.getCapacidad() }}</strong></p>
          <p class="capacidad mb-1"><strong>Inscriptos: {{ evento.getInscriptos() }}</strong></p>
          }

          <p class="lugar mb-1">nueva cordoba</p>
          <p class="fecha mb-0">{{ evento.getFechaHoraEvento() | date:'dd/MM/yyyy , HH:mm' }} hs</p>
        </div>

        <div class="botones-card px-3 pb-3 d-flex gap-2">
          <a class="btn btn-primary btn-sm flex-fill boton btn-ver-mas"
            [routerLink]="['/home/evento/detalle-evento', $index]" [state]="{ evento: evento }">
            Ver más
          </a>
          <button class="btn btn-success btn-sm flex-fill boton btn-inscribir" (click)="agregar(evento)"
            [disabled]="evento.getCapacidad() === evento.getInscriptos()">
            Inscribirse
          </button>
        </div>
      </div>
    </div>

    } @empty {


    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="imagen-evento">
        <img src="../../../../assets/images/no-hay-eventos.png" alt="No hay Eventos">
      </div>
    </div>
    }
    } @else {
    <div class="row d-flex justify-content-center align-self-center ">
      <div class="col-md-3 mb-4 ">
        <div class="card h-100 shadow-sm small-card ">
          <img src="../../../../assets/images/no-hay-eventos.png" alt="No hay Eventos">
        </div>
      </div>
    </div>
    }