<body class="fondo">
    <div class="page-container">
    <app-header></app-header>
    <app-nav-home></app-nav-home>
    <main class="content-wrap">
    <router-outlet></router-outlet>
   @if (mensaje.$showMessage) {
  <div
    class="alert position-fixed top-50 end-0 translate-middle-y"
    [ngClass]="{
      'alert-success': mensaje.$tipoAlerta === 'success',
      'alert-danger': mensaje.$tipoAlerta === 'danger'
    }"
    role="alert"
  >
    {{ mensaje.$message}}
  </div>
}

      
    
 
    
    
     
    </main>
    <app-footer></app-footer>
    </div>
</body>


