:root {
  --color-primario: #BC5E3C;
  --color-primario-alternativo: #A16546;
  --color-secundario: #FBB668;
  --color-secundario-alternativo: #FDE7A8;
  --color-terciario-: #0A2E4D;
  --color-terciario-alternativo: #14435A;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 

/*-----------------------------------------*/
/*-----------------HEADER------------------*/
/*-----------------------------------------*/


/*-----------------------------------------*/
/*-----------------MAIN--------------------*/
/*-----------------------------------------*/

.banner {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.contenedor-img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.imagen-responsiva {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-left:hover img, .arrow-right:hover img {
  filter: invert(100%) brightness(500%) sepia(0%) saturate(100%);
  transform: scale(1.5); /* Agranda ligeramente la flecha */
}

.arrow-right {
  right: 1rem;
}

.arrow img {
  width: 60px;
  height: 60px;
  filter: invert(100%) brightness(1000%) sepia(0%) saturate(0%);
}


.galeria {
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.evento {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 30%;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  margin: 1rem;
  box-shadow: 1px 5px 4px var(--color-terciario-alternativo);
 
}

.imagen-evento img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.evento:hover {
    transform: translateY(5px); /* efecto de levantar un poco */
}

.imagen-evento:hover img  {
  scale: 0.95;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

.detalle-imagen {
  padding: 1rem;

}




/*-----------------------------------------*/
/*-----------------FOOTER------------------*/
/*-----------------------------------------*/

