<app-header></app-header>
<app-nav-home></app-nav-home>
<nav></nav>
<main class="container my-4">
  <section class="row-12 quienes-somos">
    <h2>Quienes Somos</h2>
    <article class="col-lg-12">
      <p>Somos <strong>Los Desprogramadores</strong>, un equipo formado en la Tecnicatura Superior en Desarrollo de
        Software del ISPC. Desarrollamos soluciones digitales enfocadas en el usuario, aplicando metodologías ágiles y
        buenas prácticas de ingeniería de software.</p>

      <p>Desde 2024. Hemos crecido gracias a la confianza de
        nuestros clientes y la dedicación de nuestro equipo.</p>

      <h3>Nuestra Misión</h3>
      <p>Facilitar el acceso a la cultura mediante una plataforma intuitiva, segura y accesible desde cualquier
        dispositivo, que permita a los usuarios participar activamente en eventos culturales de una manera muy
        intuitiva.</p>

      <h3>Visión</h3>
      <p>Convertirnos en una herramienta clave para la difusión y organización de actividades culturales en entornos
        digitales.</p>
    </article>
  </section>
  <section class="row p-2 equipo">
    <article class="col-12 col-sm-6 col-lg-4 mb-4 miembro">
      <img class="rounded-circle img-fluid " src="assets/images/miembros/juan.jpeg" alt="Juan Ignacio Moreno">
      <h3>Juan Ignacio Moreno</h3>
      <p><strong>Rol:</strong> Developer<br>
        <strong>Cargo:</strong> Análisis y Desarrollo<br>
        <strong>Email:</strong> juanimignacio@gmail.com<br>
        <strong>Portfolio: </strong> <a
          href="https://github.com/LosDesprogramadores/gestor-eventos-culturales-ispc/tree/dev/portfolios/juanIgnacioMoreno"
          target="_blank">Github</a>
      </p>
    </article>

    <article class="col-12 col-sm-6 col-lg-4 mb-4 miembro">
      <img class="rounded-circle img-fluid" src="assets/images/miembros/julio.jpeg" alt="Julio César Martín">
      <h3>Julio César Martín</h3>
      <p><strong>Rol:</strong> Scrum Master<br>
        <strong>Cargo:</strong> Gestión<br>
        <strong>Email:</strong> JulioMartin447@gmail.com<br>
        <strong>Portfolio: </strong> <a
          href="https://github.com/LosDesprogramadores/gestor-eventos-culturales-ispc/tree/dev/portfolios/martinJulio"
          target="_blank">Github</a>

      </p>
    </article>

    <article class="col-12 col-sm-6 col-lg-4 mb-4 miembro">
      <img class="rounded-circle img-fluid" src="assets/images/miembros/alan.jpeg" alt="Alan Darel Marini">
      <h3>Alan Darel Marini</h3>
      <p><strong>Rol:</strong> Developer<br>
        <strong>Cargo:</strong> Testing<br>
        <strong>Email:</strong> aland.marini@gmail.com<br>
        <strong>Portfolio: </strong> <a
          href="https://github.com/LosDesprogramadores/gestor-eventos-culturales-ispc/tree/dev/portfolios/AlanMarini"
          target="_blank">Github</a>
      </p>
    </article>

    <article class="col-12 col-sm-6 col-lg-4 mb-4 miembro">
      <img class="rounded-circle img-fluid" src="assets/images/miembros/tomas.jpeg" alt="Tomás Monton">
      <h3>Tomás Monton</h3>
      <p><strong>Rol:</strong> Developer<br>
        <strong>Cargo:</strong> Gestión y Desarrollo<br>
        <strong>Email:</strong> tomasmonton261@gmail.com<br>
        <strong>Portfolio: </strong> <a
          href="https://github.com/LosDesprogramadores/gestor-eventos-culturales-ispc/tree/dev/portfolios/tomasMonton"
          target="_blank">Github</a>
      </p>
    </article>
    <article class="col-12 col-sm-6 col-lg-4 mb-4 miembro">
      <img class="rounded-circle img-fluid" src="assets/images/miembros/marcelo.jpeg" alt="Marcelo Portillo">
      <h3>Marcelo Portillo</h3>
      <p><strong>Rol:</strong> Developer<br>
        <strong>Cargo:</strong> Desarrollo<br>
        <strong>Email:</strong> mportillo79@gmail.com<br>
        <strong>Portfolio: </strong> <a
          href="https://github.com/LosDesprogramadores/gestor-eventos-culturales-ispc/tree/dev/portfolios/marceloportillo"
          target="_blank">Github</a>
      </p>
    </article>

    <article class="col-12 col-sm-6 col-lg-4 mb-4 miembro">
      <img class="rounded-circle img-fluid" src="assets/images/miembros/romina.jpeg" alt="Romina Vanesa Huk">
      <h3>Romina Vanesa Huk</h3>
      <p><strong>Rol:</strong> Developer<br>
        <strong>Cargo:</strong> Desarrollo<br>
        <strong>Email:</strong> rominahuk@gmail.com<br>
        <strong>Portfolio: </strong> <a
          href="https://github.com/LosDesprogramadores/gestor-eventos-culturales-ispc/tree/dev/portfolios/RominaHuk"
          target="_blank">Github</a>
      </p>
    </article>

  </section>
</main>
<app-footer></app-footer>