<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor</title>
    <link rel="icon" href="../img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <header class="header">
        <div class="logo-titulo">
            <img src="../img/logo.ico" alt="Logo del Gestor" class="logo" />
        </div>
        <nav class="nav-principal">
            <ul>
            <li><a href="index.html">INICIO</a></li>
            <li><a href="panelUsuario.html">PANEL USUARIO</a></li>
            <li><a href="pantallaRegistroNuevoUsuario.html">REGISTRO</a></li>
            <li><a href="pantallaInicioSesion.html">LOGIN</a></li>
            <li><a href="pantallaQuienesSomos.html">QUIENES SOMOS</a></li>
            <li><a href="pantallaContacto.html">CONTACTOS</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>