<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
     <header class="header">
        <div class="logo-titulo">
            <img src="../img/logo.ico" alt="Logo del Gestor" class="logo" />
        </div>
        <nav class="nav-principal">
            <ul>
            <li><a href="index.html">INICIO</a></li>
            <li><a href="panelUsuario.html">PANEL USUARIO</a></li>
            <li><a href="pantallaRegistroNuevoUsuario.html">REGISTRO</a></li>
            <li><a href="pantallaInicioSesion.html">LOGIN</a></li>
            <li><a href="pantallaQuienesSomos.html">QUIENES SOMOS</a></li>
            <li><a href="pantallaContacto.html">CONTACTOS</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer class="footer">
        <div class="footer-contenido">
            <p class="footer-texto">© 2025 Los Desprogramadores - Proyecto Gestión de Eventos Culturales</p>
            <div class="footer-links">
                <a href="pantallaQuienesSomos.html">QUIENES SOMOS</a>
                <a href="pantallaContacto.html">CONTACTOS</a>
            </div>
            <div class="footer-redes">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>

        </div>
    </footer>
</body>
</html>