#variable de entorno
.env
# Entorno virtual
venv/

# Archivos de Python
__pycache__/

# Archivos de IDE
.vscode/
.idea/


#Migraciones
migrations/

#db
db.sqlite3
*.sqlite3
**/db.sqlite3
**/*.sqlite3
