.detalle-evento {
  max-width: 80vw;
  margin: auto;
  padding: 2rem;
}

.tarjeta-evento {
  background-color: var(--color-secundario);
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.tarjeta-evento h1 {
  text-align: center;
  color: var(--color-terciario-);
  margin-bottom: 1rem;
  font-size: clamp(1.6rem, 5vw, 2.4rem);
}

.img-evento {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  border-color: brown;

}

.tarjeta-evento section {
  margin-bottom: 1.5rem;
}

.tarjeta-evento section h2 {
  color: var(--color-primario);
  margin-bottom: 0.5rem;
  font-size: clamp(1.1rem, 4vw, 1.5rem);
  font-weight: 600;
}

.tarjeta-evento section p {
  font-size: clamp(0.95rem, 3vw, 1.2rem);
  line-height: 1.6;
}

.compartir {
  margin-top: 1rem;
}

.compartir a {
  margin-right: 10px;
  color: var(--color-terciario-alternativo);
  font-size: clamp(1.1rem, 3vw, 1.5rem);
  text-decoration: none;
}

.compartir a:hover {
  color: var(--color-secundario-alternativo);
}

.btn-volver-evento {
  display: inline-block;
  margin-top: 2rem;
  background-color: var(--color-terciario-);
  color: white;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  border-radius: 6px;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
}

.btn-volver-evento:hover {
  background-color: var(--color-terciario-alternativo);
}


