/* You can add global styles to this file, and also import other style files */
:root {
  --color-primario: #BC5E3C;
  --color-primario-alternativo: #A16546;
  --color-secundario: #FBB668;
  --color-secundario-alternativo: #FDE7A8;
  --color-terciario-: #0A2E4D;
  --color-terciario-alternativo: #14435A;

}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
/*------------Footer-------------*/
/* hace que el footer esté siempre abajo aunque la página tenga poco contenido */

body,html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/*------------------------*/

.fondo{
  background-color: var(--color-secundario-alternativo);
}


.header {
  background-color: var(--color-terciario-alternativo);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.3);
}


/*----FORMULARIOS------*/
/*------para validar formularios------*/

.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42A948; 
}
.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442; 
}



/* app-root se estira a toda la ventana y organiza header/main/footer */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

