<app-header></app-header>
<app-nav-home></app-nav-home> 
<main class="registro-main">
    <div class="container">
        <div class="registro-card">
            <form action="#" method="post" class="registro-formulario needs-validation" novalidate>

                <h1 class="registro-titulo">Crear nueva cuenta</h1>

                <div class="registro-campo">
                    <input type="email" id="correo" name="correo" class="registro-input" required
                        placeholder="Correo electrónico" />
                </div>

                <div class="registro-campo">
                    <input type="password" id="contraseñia" name="contraseñia" class="registro-input" required
                        placeholder="Contraseña" minlength="6" />
                </div>

                <div class="registro-campo">
                    <input type="password" id="repetir-contraseñia" name="repetir-contraseñia" class="registro-input"
                        required placeholder="Repetir contraseña" />
                </div>

                <div class="registro-botones">
                    <button type="submit" class="registro-btn">Registrar</button>
                    <button type="reset" class="registro-btn">Iniciar sesión</button>
                </div>

            </form>
        </div>
    </div>
</main>
<app-footer></app-footer>
